#nav{
  width: 100vw;
  height: 10vh;
  background-color: blue;
  div{
    width: 300px;
    padding: 10px 0;
  }
  #logout button{
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: blue;
    border: 2px solid white;
    color: white;
    opacity: 0.5;
    &:hover{
      opacity: inherit;
    }
  }
  a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    padding: 5px 20px;
    &:hover{
      border: 1px solid white;
      color: white;
      opacity: 0.5;
    }
  }
}
