<div id="container">
  <div class="pt-5">
    <div id="log-home">
      <h5>Login</h5>
      <form #form="ngForm">
        <input
          type="email"
          [(ngModel)]="loginData.email"
          required
          minlength="3"
          maxlength="40"
          name="email"
          class="form-control"
          placeholder="Email"
        />
        <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched" class="text-danger">
          <div *ngIf="form.controls['email']?.hasError('required')">Il campo è obbligatorio.</div>
          <div *ngIf="form.controls['email']?.hasError('minlength')">Il campo deve contenere almeno 3 caratteri.</div>
        </div>
        <input
          type="password"
          [(ngModel)]="loginData.password"
          required
          minlength="6"
          maxlength="20"
          name="password"
          class="form-control"
          placeholder="Password"
        />
        <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched" class="text-danger">
          <div *ngIf="form.controls['password']?.hasError('required')">Il campo è obbligatorio.</div>
          <div *ngIf="form.controls['password']?.hasError('minlength')">Il campo deve contenere almeno 6 caratteri.</div>
        </div>
        <div>
          <a (click)="save()">Login</a>
          <a routerLink="/auth/register">Registrati</a>
        </div>
      </form>
    </div>
  </div>
</div>
