#container {
  overflow-y: scroll;
  height: 90vh;
  background-color: rgb(6, 6, 98);
  color: white;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(64, 64, 228, 0.178);
    border-radius: 10px;
  }


  .mycard{
    width: 50vw;
    height: 30vh;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgb(99, 99, 99);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(64, 64, 228, 0.178);
      border-radius: 10px;
    }
    #myh1{
      position: sticky;
      top: 20px;
      padding: 10px;
      z-index: 1;
    }
    .prev{
      margin-left: 200px;
    }
    div h6,span{
      padding: 0 5px;
    }
  }
}

