#container {
  overflow-y: scroll;
  height: 90vh;
  background-image: url('../../../../assets/terra2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(64, 64, 228, 0.178);
    border-radius: 10px;
  }


  .mycard{
    width: 50vw;
    height: 30vh;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgb(99, 99, 99);
    overflow-y: scroll;
    background-color:  rgba(6, 6, 98, 0.502);
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(64, 64, 228, 0.178);
    }
    button{
      position: sticky;
      top: 80px;
      margin: 10px;
      z-index: 1;
      color: rgb(99, 99, 99);
      padding: 5px 20px;
      border: 1px solid rgb(99, 99, 99);
      background-color: transparent;
      &:hover{
        border: 1px solid white;
        color: white;
      }
    }
    #myh1{
      position: sticky;
      top: 20px;
      padding: 10px;
      z-index: 1;
    }
    .prev{
      margin-left: 200px;
    }
    div h6,span{
      padding: 0 5px;
    }
  }
}

