.container {
  border: 1px solid black;
  border-radius: 10px;
  .todos{
    width: 40vw;
    margin: 0 auto;
    button{
      cursor: pointer;
    }
  }
}

.green{
  color: green;
}

.red{
  color: red;
}
