#container{
  background-color: blue;
  height: 100vh;
}

#log-home{
  border: 2px solid rgba(255, 255, 255, 0.336);
  width: 20vw;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    padding: 5px 20px;
    &:hover{
      border: 1px solid white;
      color: white;
      opacity: 0.5;
    }
  }
}
