@media screen and (min-width: 320px) {

    header{
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    h1{
        font-size: 1.8rem;
    }

    .relative {
        position: relative;
    }

    .relative img {
        width: 270px;
        position: absolute;
        top: 30px;
        opacity: 0.5;
    }

    .imgLeft{
        float: left;
    }

    p, h2, ul, li, a, address {
        font-size: 1rem;
        font-weight: 400;
    }

    .relative h2 {
        position: absolute;
        top: -18px;
    }

    .a-fixed{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        position: fixed;
        z-index: 1;
        border-radius: 5px;
        border: 2px solid rgba(87, 86, 86, 0.479);
        background-color: rgba(255, 255, 255, 0.494);
        box-shadow: 2px 2px 5px gray ;
    }

    .a-social{
        bottom: 20px;
        right: 135px;
    }   

    .a-calendar{
        bottom: 20px;
        right: 75px;
    }

    .a-index{
        bottom: 20px;
        right: 15px;
    }
    .a-index a{
        color: orange;
    }

 }
  
@media screen and (min-width: 767px) {


    h1{
        font-size: 2.3rem;
    }

    h2{
        font-weight: 700;
    }

    .relative img {
        width: 330px;
        top: 40px;
    }

    p, h2, ul, li, a, address {
        font-size: 1.4rem;
    }

    .a-social{
        top: 15px;
        right: 15px;
    }   

    .a-calendar{
        top: 75px;
        right: 15px;
    }

    .a-index{
        bottom: 20px;
        right: 15px;
    }

 }
  
@media screen and (min-width: 1023px) {

    .in-line{
        display: inline-block;
        padding-right: 10px;
    }

    .brand{
        display: flex;
        align-items: center;
    }
    header{
        padding: 10px 20px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 }
  