/* back ground yelllow : #F3DF85
back ground ligth-yelllow : #FBF7E3
font-color: #612406 */
/* ------------------------- GENERAL ---------------------------- */

.general-conteiner{
    padding: 10px;
    color: #612406;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: #612406;
    font-weight: 700;
}


/* ------------------------- HEADER ---------------------------- */

header{
    background-color:#FBF7E3;
    border-radius: 70px;
    padding: 25px;
}

#logo img{
    width: 50px;
}

#logo{
    background-color: #F3DF85;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo span{
    font-weight: 700;
    font-size: 2rem;
    padding-left: 15px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}

li{
    box-sizing: border-box;
    background-color: #F3DF85;
    text-align: center;
    padding: 15px 0px;
    border-radius: 20px;
    flex: 1 1 calc(100% /3);
}

li:first-child{
    flex-basis: 100%;
    padding: 25px 0px;
    border-radius: 30px;
}

/* ---------------------------- main ------------------------------------------ */

.selling-section{
    text-align: center;
}

section h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    padding: 40px 0;
}

.img-honey img{
    width: 100%;
}

.img-honey img{
    border-radius: 50px 50px 0 0;
}

.selling {
    background-color: #FBF7E3;
    border-radius: 50px;
    margin-bottom: 25px;
}

.conteiner-text-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.conteiner-text-price h4 {
    font-weight: bold;
    padding: 4px;
}

.btn-shop-cart button{
    background-color:#F3DF85;
    color: #612406;
    font-weight: bold;
    padding: 10px 60px;
    border: none;
    border-radius: 15px;
    margin: 20px 0;
}

/* ---------------------------------------------- footer ---------------------------- */

.latest-news{
    border-radius: 30px;
    padding: 20px;
    background-color: #FBF7E3;
}

footer h3{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 15px 0;
}

.special-p{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
}

.img-footer img{
    width: 100%;
    padding: 10px 0;
}

