@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    font-size: 14px;
}

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center img{
    height: 55px;
    margin: 20px;
}

.text-center{
    text-align: center;
}

.div-orange{
    align-items: center;
    background-color: hwb(50 9% 13% / 0.062);
    border-top: solid 2px hwb(50 9% 0%) ;
    height: 35px;
    color: rgb(0, 101, 68);
}

main{
    margin-left: 30%;
    margin-right: 30%;
}

.mar-top40 {
    margin-top: 40px;
}

.mar-top15 {
    margin-top: 15px;
}

.grey {
    color: rgba(128, 128, 128, 0.507);
}

.div-video{
    overflow: hidden;
    height: 400px;
    border-radius: 10px;
}

.green{
    color: green;
}

.red{
    color: red;
}

.border-left {
    border-left: 2px solid hwb(50 9% 0%);
}

.margin20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padd-left{
    padding-left: 30px;
}

.bottom-blue{
    border-bottom: solid 1px rgb(191, 241, 255);
}
