#container {
  height: 90vh;
  background-image: url('../../../../assets/terra2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  #myform {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    form button {
      margin-left: 20px;
      color: rgb(99, 99, 99);
      padding: 5px 20px;
      background-color: rgb(6, 6, 98);
      border: transparent;

      &:hover {
        border: 1px solid white;
        color: white;
        opacity: 0.5;
      }
    }
  }
}

#main {
  padding: 20px 50px;
  display: flex;
  justify-content: center;

  .city {
    width: 25%;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid white;
    background-color:  rgba(6, 6, 98, 0.502);
    h5 {
      color: rgb(99, 99, 99);
      padding: 10px;
      span {
        color:rgb(214, 214, 214);
      }
    }
    button{
      color: rgb(99, 99, 99);
      padding: 5px 20px;
      border: 1px solid rgb(99, 99, 99);
      &:hover{
        border: 1px solid white;
        color: white;
      }
    }
  }
  .weather {
    overflow-y: scroll;
    border: 1px solid white;
    width: 40%;
    padding: 10px 20px;
    margin: 20px;
    height: 60vh;
    background-color:  rgba(6, 6, 98, 0.502);
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color:rgba(64, 64, 228, 0.178);
    }
    div{
      h6,span{
        padding: 0 5px;
        color:white;
      }
    }
  }
}
