<app-nav></app-nav>
<div id="container">
  <div class="col-12">
    <div id="myform">
      <form>
        <input type="text" [(ngModel)]="searchQuery" name="searchQuery" />
        <button (click)="search()">SEARCH</button>
      </form>
    </div>
    <!-- *ngIf="isMainVisible" -->
    <div id="main" *ngIf="isMainVisible">
      <div class="city">
        <div>
          <h5>Country: <span> {{ citysrc.country }}</span></h5>
          <h5>Region: <span> {{ citysrc.state }}</span></h5>
          <h5>City: <span> {{ citysrc.local_names.it }}</span></h5>
          <h5>Lon: <span> {{ citysrc.lon }}</span></h5>
          <h5>Lat: <span> {{ citysrc.lat }}</span></h5>
          <button (click)="addFavorite()" class="btn">ADD</button>
        </div>
      </div>
      <div class="weather">
        <div *ngFor="let prev of weatherForecast" class="d-flex align-items-baseline">
          <span><p>{{ formatDateTime(prev.dt_txt) }}</p></span>
          <h6>{{ prev.weather[0].description }}</h6>
          <h6><span>Temp:</span>{{ prev.main.temp}} &deg;C</h6>
        </div>
      </div>
    </div>
  </div>
</div>
