<div class="container-fluid px-5 bg-success pt-2 pb-5 height">
  <div class="row gap-3 justify-content-center">
    <div *ngFor="let post of posts" class="col-5 mt-2 border-2 border" [ngClass]="setBg(post)">
      <div class="bg-secondary">
        <h4 class="text-center">POST</h4>
      </div>
      <h5>{{ post.title }}</h5>
      <p>{{ post.body }}</p>
      <p>{{ post.type }}</p>
      <p>{{post.id}}</p>
      <p class="d-inline-block mb-5">{{ post.disponibile }}</p>
      <button (click)="post.disponibile = !post.disponibile"   class="btn btn-secondary ms-2 border-2 border-light">Cambia Disponibilità</button>
      <div>
        <button (click)="deletePost(post.id)" class="btn btn-danger mb-2 border-2
         border-black">Elimina</button>
      </div>
    </div>
  </div>
</div>
