$testo: #f4f4f4;
$button-blue: #0e6cff ;
$button-oran:#ff8700;
$button-green: #4caf50;
$bg_hero:#640fc5;
$bg_header: rgb(182, 84, 160);
$fontH1: 3.5rem;
$fontH2: 2.5rem;

@mixin fontH{
    color: purple;
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}
