.none {
    display: none;
}

#smartphone{
    width: 400px;
    height: 700px;
    border: 3px solid grey;
    padding: 10px 25px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: antiquewhite;
}

#numberPressed{
    height: 40px;
    margin-bottom: 60px;
    input{
        width: 97%;
        margin: 40px auto;
        height: 100%;
        line-height: 40px;
        font-size: 25px;
        font-weight: bolder;
    }
}

#tastiera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;

    .key-number{
        text-align: center;
        width: 33%;
        p{
            margin: 20px;
            border: 1px solid bl;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
            background-color: beige;
            padding: 10px;
            border-radius: 100%;
            border: 1px solid   black;
        }
    }
}

#chiama{
    margin: 0 auto;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0 50px;
    cursor: pointer;
    p{
        margin-left: 5px
    }
}


