:root{
    font-size: 18px;
    background-color: rgba(190, 124, 24, 0.653);
}

h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.conteiner {
    display: flex;
}

#tabellone {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(246, 189, 103, 0.699);
    width: 1000px;
    margin-left: 40px;
    justify-content: center;
    padding: 20px;
}

.cella, .cella-estratti{
    text-align: center;
    flex: 0 1 calc(100% / 12);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid gray;
    margin: 4px;
    background-color: rgba(246, 234, 217, 0.699);
    font-weight: bold;
}

.newEstratto{
    background-color: aquamarine;
}

/* .estratti{
    border: 4px solid rgba(107, 65, 3, 0.699);
    position:absolute;
    right: 80px;
    background-color: rgba(246, 189, 103, 0.699);
    padding: 20px;
} */


