/* You can add global styles to this file, and also import other style files */
*{
    text-align: center;
}

.yellow{
    color: rgb(255, 221, 0);
}

.brown{
    color: brown;
}

.red{
    color: red;
}

.ligth-blue{
    color: lightblue;
}