@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Spectral:wght@400;700&display=swap');
/* ---------------------------------------------- Header ------------------------------------------------------- */

body{
    color: #191919;
    font-family: 'Roboto', sans-serif;
}

.m-svg {
    width: 200px;
}

a{
    text-decoration: none;
    color: #191919;
}

li{
    list-style: none;
}

nav{
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    border-bottom: 1px solid  #191919;
    position: fixed;
    width: 90%;
}

nav ul{
    display: flex;
}

nav li a{
    font-size: 1rem;
    padding: 8px 16px;
    color: #191919;
}

#logo img{
    width: 150px;
}

.special-a{
    background-color: black;
    color: white;
    border-radius: 40px;
}

#hero{
    display: flex;
    background-color: #ffc017;
    padding-left: 70px;
    border-bottom: 1px solid #191919;
}

.hero-left{
    flex-basis: 50%;
    padding: 70px 0;
}

.hero-left h2{
    padding-top: 130px;
    font-size: 6rem;
    font-family: 'Spectral', serif; 
}

.hero-left p{
    font-size: 1.5rem;
    padding: 30px 0 60px 0 ;
}

.hero-left a{
    font-size: 1.3rem;
    padding: 8px 35px;
    color: white;
    background-color: #191919;
    border-radius: 40px;
}

/* ------------------------------------ main -------------------------------------- */

.logo-main{
    display: flex;
    align-items: center;
    padding: 20px  0 0 70px;
}

.logo-main span{
    font-weight: bold;
}

.logo-main svg{
    padding-right: 30px;
}

.item-main-articles{
    display: flex;
    flex: 1 1 33%;
}

.author{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.author img{
   width: 23px;
   margin-right: 25px;
   border-radius: 50%;
}

.author a{
    color: #191919;
}

.number-article{
    font-size: 2rem;
    color: #F2F2F2;
    font-weight: bold;
    padding-right: 30px;
    padding-top: 10px;
}

.date-article p{
    color: #6B6B6B;
    padding: 15px 0;
}

.date-article a{
    color: #191919;
    font-weight: bold;
}


.conteiner-main-articles{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #6b6b6b2a;
    padding: 0px 70px;
}
/* ------------------------- section 2 --------- */

.flex{
    display: flex;
}

.conteiner-page{
    padding:70px;
}

.left-page{
    flex: 1 1 50%;
}

.author-page{
    align-items: center;
    padding: 20px 0;
}

.author-page img{
    padding-right: 20px;
    width: 20px;
}

.author-page a{
    font-size: 1rem;
}

.article-page-item a{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px 0;
}

.article-page-item p{
    color: #6B6B6B;
    padding: 10px 0;
}

.date-page{
    color: #6B6B6B;
    justify-content: space-between;
}

.date-page i {
    font-size: 1.5rem;
}

.topic-article,.topics a{
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 2px 15px;
}

.img-page img{
    width: 240px;
    padding-left: 40px;
}

/* ----------------------- aside -------------- */

.right-page{
    margin-left: 100px;
    flex: 1 1 40%;
}

.matters-aside p{
    font-size: 1rem;
    font-weight: bold;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.topics a{
    flex: 1 0 auto;
    margin: 5px;
    text-align: center;
    padding: 5px;
    line-height: 1rem;
}

.a-green a{
    color: green;
    font-size: 1rem;
}

.a-green{
    padding: 30px 0 60px 0;
    border-bottom: 1px solid #6b6b6b1d ;
}


.aside-footer{
    padding: 20px 0;
    padding-right: 80px;
}

.aside-footer a{
    color: #6B6B6B;
    padding: 30px 10px;
    line-height: 2.5rem;
    font-size: 0.9rem;
}

