@mixin flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin generalFont{
    color: $testo;
    font-size: 1.3rem;
}

@mixin noDecoration{
    text-decoration: none;
    list-style: none;
}

@mixin heroH1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

@mixin heroImg{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
}

