@import 'reset';
@import 'colors';
@import 'animations';
@import 'buttons';
@import 'fonts';
@import 'spacing';
@import 'mixins';

body {
    @include generalFont;
}

nav ul {
    display: flex
}

a, li{
    @include noDecoration;
    color: $testo
}

.d-fl-btw{
    @include flexBetween;
}

nav, .hero{
    background-color: $bg_hero;
}

.hero{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.hero h1{
    @include heroH1;
}

.hero img{
    @include heroImg;
    @include sdw-border;
}

.col-7{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    @include fadeIn;
}






