@import '../node_modules/bootstrap/scss/functions';
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixin';

.cl-font1{
    color: $gray-100;
}

#logo{
    img{
        width: 5rem;
    }
}    

.nav-item a:hover{
    color: white;
}

.my-li-last{
    @media screen and (max-width: 769px){
        width: 20%;
        border-bottom: 1px solid $gray-100;
    };
}

.my-ul a{
    color: $gray-100;
    &:hover{
        color: white;
    }
}

.img-profile{
    @include img-profile-nav;
}

.my-select-header{
    @include my-select-header;
}

.my-icon-dwn-nav{
    border: 1px solid $gray-100;
}

.my-btn-nav{
    @include my-btn-nav(25px, 25px, 15px, 0, 15px);
}

.my-span-nav{
    @include my-btn-nav(20px, 20px, 2px, 5px, 6px);
}

.my-caros > *{
    padding: 0;
}


